[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
python-dotenv = "*"
uvicorn = "*"
pydantic-settings = "*"
psycopg2 = "*"
pydantic = {extras = ["email"], version = "*"}
passlib = "*"
starlette = "*"
fastapi = {extras = ["all"], version = "*"}
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
